/* Preview Container */
#preview {
    position: fixed;
    width: 980px; height: 0;
    left: 20px; bottom: 0;
    transition: height 0.3s ease;
}

#md-preview, #preview > .slider {
    background: rgba(0, 0, 0, 0.9);
}

/* MD Container */
#md-preview {
    font-family: Consolas, monospace;
    white-space: pre-wrap;
    font-size: 14px;
    color: #FFF;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    border: none;
    display: block;
    width: 100%;
    resize: none;
    margin-top: 0;
}

/* Slide Button */
#preview > .slider {
    width: 20px; height: 20px;
    margin-top: -20px;
    cursor: pointer;
}

#preview > .slider::after {
    content: "";
    position: absolute;
    width: 0; height: 0;
    margin: 7px 0 0 3px;
    border-style: solid;
    border-width: 0 6px 7px 6px;
    border-color: transparent transparent #FFF transparent;
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

#preview > .slider:hover::after {
    opacity: 1;
}

/* Preview - opened */
#preview.opened {
    height: 70%;
}

#preview.opened > .slider::after {
    transform: rotate(180deg);
}

/* 'Copy To Clipboard' Button */
#copy-to-clipboard {
    position: absolute;
    background: none;
    top: 0; right: 0;
    margin: 10px 31px 0 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 5px;
    color: #FFF;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: border-color 0.3s ease;
    cursor: pointer;
}

#copy-to-clipboard:hover {
    border-color: rgba(255, 255, 255, 0.9);
}

#copy-to-clipboard.success {
    border-color: #59ff59;
}

#copy-to-clipboard.error {
    border-color: #ff5959;
}
