.window {
    position: fixed;
    width: 0; height: 0;
    color: #FFF;
    opacity: 0.5;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease;
    overflow: hidden;
}

.window > .titlebar {
    padding: 10px 15px;
    font-weight: 600;
}

.window > .titlebar > span.close {
    font-weight: normal;
    float: right;
    opacity: 0.8;
    cursor: pointer;
}

.window > .titlebar > span.close:hover {
    opacity: 1;
}

.window > .content {
    background: #282828;
    padding: 15px 20px;
    overflow: hidden;
}

.window.show {
    min-width: 200px;
    width: auto; height: auto;
    opacity: 1.0;
    overflow: visible;
}