html, body, p, h1, h2, h3, h4, h5, h6, header, footer, section, aside, nav, article, hr, ul, ol, dl {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

input, textarea, button {
    outline: none;
}

/* BODY > */

.theme-bg {
    background: #3B3B3B;
}

.theme-clr {

}

body {
    background: #282828;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#header-menu {
    height: 60px;
}

input[type="text"].menu-txt, button.menu-btn, .menu-list {
    background: inherit;
    font-family: 'Open Sans';
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    color: #FFF;
    border: none;
    transition: background 0.3s ease;
    display: block;
    float: left;
}

input[type="text"].menu-txt {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

input[type="text"].menu-txt:hover, .menu-list:hover {
    background: rgba(255, 255, 255, 0.05);
}

input[type="text"].menu-txt:focus {
    background: rgba(255, 255, 255, 0.1);
}

button.menu-btn {
    font-size: 20px;
    min-width: 60px;
    cursor: pointer;
}

button.menu-btn:hover {
    background: purple;
}

#btn-bold.menu-btn {
    font-weight: 700;
}

#btn-italic.menu-btn {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

#btn-strkthr.menu-btn {
    text-decoration: line-through;
}

.menu-list {
    cursor: pointer;
}

.menu-list > p {
    padding: 19px 15px;
}

.menu-list > ul, .menu-list > .cont {
    position: absolute;
    max-height: 0;
    background: #CCC;
    color: #444;
    margin-top: -1px;
    width: inherit;
    overflow: hidden;
    transition: max-height 0.5s ease;
    border: 1px solid #3B3B3B;
    border-top: none;
    visibility: hidden;
}

.menu-list:hover > ul, .menu-list:hover > .cont {
    visibility: visible;
    max-height: 300px;
}

.menu-list > ul > li {
    padding: 10px 15px;
    list-style-type: none;
    transition: background 0.3s ease;
}

.menu-list > ul > li:hover {
    background: #777;
    color: #FFF;
}

.menu-list > .cont > .item-cont {
    padding: 15px;
}

#btn-table .item-cont {
    width: 85px;
    height: 85px;
}

#btn-table .cell {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    border: 1px solid #CCC;
    background: #999;
    cursor: pointer;
}

#btn-table .cell.hovered {
    background: purple;
}