/* Content Container */
/* previously '#sidebar > .cont' - Ng2 will do with the scope now */
.cont {
    width: 300px;
}

/* SIDEBAR ITEM */

/* Text */
.sb-item > p {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sb-item > p:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* Content (if in list mode) */
.sb-item.list > div {
    position: relative;
    max-height: 0;
    transition: max-height 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.sb-item.list > div.expanded {
    max-height: 300px;
}

/* Components */

/* list menu */
ul.sb-list {
    list-style-type: none;
}

ul.sb-list > li {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

ul.sb-list a {
    width: 100%; height: 100%;
    color: inherit;
    padding: 15px 30px;
    display: block;
    transition: background 0.3s ease;
}

ul.sb-list a:hover {
    border: none;
    background: rgba(255, 255, 255, 0.05);
}
