<div class="cont">
    <div sb-expandable-drv id="login-sb-item" class="sb-item list">
        <p>Login</p>
        <div login-form-cmp></div>
    </div>
    <hr/>
    <div sb-expandable-drv class="sb-item list">
        <p>Export As</p>
        <div export-md-cmp></div>
    </div>
    <hr/>
    <div class="sb-item">
        <p>
            <span>Toggle GFM</span>
            <switch-ctrl></switch-ctrl>
        </p>
    </div>
    <hr/>
    <div sb-expandable-drv class="sb-item list">
        <p>Pick Theme Color</p>
        <div theme-selector-cmp></div>
    </div>
    <hr/>
    <div class="sb-item">
        <p>About</p>
    </div>
</div>