<div class="cont">
    <div id="login-sb-item" class="sb-item list">
        <p>Login</p>
        <div>
            <form id="login-form">
                <p class="error-msg">Wrong password mate</p>
                <p><input type="text" placeholder="Username" /></p>
                <p><input type="password" placeholder="Password" /></p>
                <p><button class="default theme-bg">Login</button><a id="create-acc" href=":;">Create account</a></p>
            </form>
        </div>
    </div>
    <hr/>
    <div class="sb-item list">
        <p>Export As</p>
        <div>
            <ul class="sb-list">
                <li><a href="">MD</a></li>
                <li><a href="">PDF</a></li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="sb-item">
        <p>
            <span>Toggle GFM</span>
            <switch-ctrl></switch-ctrl>
        </p>
    </div>
    <hr/>
    <div class="sb-item list">
        <p>Pick Theme Color</p>
        <div>
            <div id="theme-selector">
                <div class="color-pick" data-color="grey"></div>
                <div class="color-pick" data-color="red"></div>
                <div class="color-pick" data-color="purple"></div>
                <div class="color-pick" data-color="blue"></div>
                <div class="color-pick" data-color="green"></div>
                <div class="color-pick" data-color="orange"></div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="sb-item">
        <p>About</p>
    </div>
</div>