<div id="editor" contenteditable="true">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    some text
    <hr/>
    asdasd<br/>
    asdasd
    <blockquote>Pesho is here</blockquote>
    <a href="">Github</a>
    <table>
        <thead>
        <tr>
            <th>Pesho</th>
            <th>Ivan</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Test</td>
            <td>Info</td>
        </tr>
        </tbody>
    </table>
    ivan <strong>tester</strong> <strike>pesho</strike> <em>ivan</em> info <code>pesho</code>
                <pre>
function () {
    console.log("sdf");
}</pre>
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <ol>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
</div>