<div id="logo"></div>
<div id="menu">
    <!-- Regular -->
    <input type="text" id="file-name" class="menu-txt" value="Untitled" placeholder="Put filename" />
    <button bold-btn-drv btn-click id="btn-bold" class="menu-btn" data-title="Bold">B</button>
    <button italic-btn-drv btn-click id="btn-italic" class="menu-btn" data-title="Italic">I</button>
    <button btn-click id="btn-code" class="menu-btn" data-title="Code"></button>
    <button btn-click id="btn-blockquote" class="menu-btn" data-title="Blockquote">"</button>
    <div btn-click id="btn-headings" class="menu-drop-down" data-title="Headings">
        <p class="disp"><sup>h1</sup><sub>h6</sub></p>
        <ul class="cont">
            <li>Heading 1</li>
            <li>Heading 2</li>
            <li>Heading 3</li>
            <li>Heading 4</li>
            <li>Heading 5</li>
            <li>Heading 6</li>
        </ul>
    </div>
    <button btn-click id="btn-hr" class="menu-btn" data-title="Horizontal Ruler"></button>
    <div id="btn-image" class="menu-drop-down" data-title="Image">
        <div class="disp"></div>
        <div class="cont">
            <div class="item-cont">
                <input type="text" placeholder="URL" />
                <button class="default theme-bg">Create</button>
            </div>
        </div>
    </div>
    <div id="btn-hyperlink" class="menu-drop-down" data-title="Hyperlink">
        <div class="disp"></div>
        <div class="cont">
            <div class="item-cont">
                <input type="text" placeholder="Text" />
                <input type="text" placeholder="URL" />
                <button class="default theme-bg">Create</button>
            </div>
        </div>
    </div>
    <button id="btn-ul" class="menu-btn" data-title="Unordered List"></button>
    <button id="btn-ol" class="menu-btn" data-title="Ordered List"></button>
    <!-- Regular -->
    <!-- GFM -->
    <div id="btn-table" class="menu-drop-down" data-title="Table">
        <div class="disp"></div>
        <div class="cont">
            <div class="item-cont"></div>
        </div>
    </div>
    <button id="btn-strikethrough" class="menu-btn" data-title="Strikethrough">S</button>
    <!-- GFM -->
</div>
<div sidebar-btn-drv id="sidebar-btn"></div>
<div id="username-disp">user123</div>