<div id="logo"></div>
<div id="menu">
    <!-- Regular -->
    <input file-inp-drv type="text" id="file-name" class="menu-txt" value="Untitled" maxlength="50" placeholder="Put filename" />

    <button bold-btn-drv btn-click id="btn-bold" class="menu-btn" data-title="Bold">B</button>

    <button italic-btn-drv btn-click id="btn-italic" class="menu-btn" data-title="Italic">I</button>

    <div code-btn-cmp drop-down-drv id="btn-code" class="menu-drop-down" data-title="Code"></div>

    <button blockquote-btn-drv btn-click id="btn-blockquote" class="menu-btn" data-title="Blockquote">"</button>

    <div headings-btn-cmp drop-down-drv id="btn-headings" class="menu-drop-down" data-title="Headings"></div>

    <button hrule-btn-drv btn-click id="btn-hr" class="menu-btn" data-title="Horizontal Rule"></button>

    <div img-btn-cmp drop-down-drv id="btn-image" class="menu-drop-down" data-title="Image"></div>

    <div hlink-btn-cmp drop-down-drv id="btn-hyperlink" class="menu-drop-down" data-title="Hyperlink"></div>

    <button ul-btn-drv btn-click id="btn-ul" class="menu-btn" data-title="Unordered List"></button>

    <button ol-btn-drv btn-click id="btn-ol" class="menu-btn" data-title="Ordered List"></button>
    <!-- Regular -->

    <!-- GFM -->
    <div table-btn-cmp drop-down-drv [hidden]="!gfm" id="btn-table" class="menu-drop-down" data-title="Table"></div>

    <button strike-btn-drv btn-click [hidden]="!gfm" id="btn-strikethrough" class="menu-btn" data-title="Strikethrough">S</button>
    <!-- GFM -->
</div>
<div sidebar-btn-drv id="sidebar-btn"></div>
<!--<div id="username-disp">user123</div>-->