<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>.MD</title>
        {{> styles}}
        {{> scripts}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>