<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="#282828" />
        <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
        <title>.MD</title>
        {{> styles}}
        {{> scripts}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>